src/cache/*
src/application/mediaArchive/*
src/application/classes/userModules/*
src/application/config/config_localhost.xml
src/admin/cache/*
src/admin/application/config/config_localhost.xml
src/admin/application/libs/phpqrcode/cache/*
src/export/*
