<div class="clearfix">
    <figure class="main-img align-right" tal:condition="php: Component['banner']['mediaId'] > 0">
      <span tal:omit-tag="" tal:content="structure Component/banner/__html__" />
      <figcaption class="description" tal:content="structure Component/banner/title"></figcaption>
    </figure>
    <dl class="properties">
        <span tal:omit-tag="" tal:condition="Component/targetUser">
          <dt tal:content="php: __T('Users')"></dt>
          <dd tal:content="Component/targetUser"></dd>
        </span>
        <span tal:omit-tag="" tal:condition="Component/date">
          <dt tal:content="php: __Tp('Creation date')"></dt>
          <dd tal:content="Component/date"></dd>
        </span>
        <span tal:omit-tag="" tal:condition="Component/language">
          <dt tal:content="php: __T('Language')"></dt>
          <dd tal:content="Component/language"></dd>
        </span>
        <span tal:omit-tag="" tal:condition="Component/urlExternal">
          <dt tal:content="php: __T('Exhibition url')"></dt>
          <dd tal:content="structure php: __Link::formatLink(Component['urlExternal'])"></dd>
        </span>
        <span tal:omit-tag="" tal:condition="Component/identifier">
          <dt tal:content="php: __T('Identifier')"></dt>
          <dd tal:content="Component/identifier"></dd>
        </span>
        <span tal:omit-tag="" tal:condition="Component/category">
          <dt tal:content="php: __T('Subject')"></dt>
          <dd tal:content="Component/category"></dd>
        </span>
        <span tal:omit-tag="" tal:condition="Component/linkedExhibition">
          <dt tal:content="php: __T('Physycal alternative')"></dt>
          <dd tal:content="structure php: __Link::formatLink(Component['linkedExhibition'])"></dd>
        </span>
    </dl>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['description'])">
      <h3 tal:content="structure php: __T('Abstract')" />
      <span tal:omit-tag="" tal:content="structure Component/description" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['credits'])">
      <h3 tal:content="structure php: __T('Credits')" />
      <span tal:omit-tag="" tal:content="structure Component/credits" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['sponsor1'])">
      <h3 tal:content="structure php: __T('Patronages')" />
      <span tal:omit-tag="" tal:content="structure Component/sponsor1" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['sponsor2'])">
      <h3 tal:content="structure php: __T('Promoters')" />
      <span tal:omit-tag="" tal:content="structure Component/sponsor2" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['sponsor3'])">
      <h3 tal:content="structure php: __T('Sponsors')" />
      <span tal:omit-tag="" tal:content="structure Component/sponsor3" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['honoraryCommittee'])">
      <h3 tal:content="structure php: __T('Committee of Honor')" />
      <span tal:omit-tag="" tal:content="structure Component/honoraryCommittee" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['scientificCommittee'])">
      <h3 tal:content="structure php: __T('Scientific Committee')" />
      <span tal:omit-tag="" tal:content="structure Component/scientificCommittee" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['dedication'])">
      <h3 tal:content="structure php: __T('Dedication')" />
      <span tal:omit-tag="" tal:content="structure Component/dedication" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['aknowledgements'])">
      <h3 tal:content="structure php: __T('Aknowledgements')" />
      <span tal:omit-tag="" tal:content="structure Component/aknowledgements" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['contacts'])">
      <h3 tal:content="structure php: __T('Contacts')" />
      <span tal:omit-tag="" tal:content="structure Component/contacts" />
    </span>
    <span tal:omit-tag="" tal:condition="php: !glz_empty(Component['services'])">
      <h3 tal:content="structure php: __T('Services')" />
      <span tal:omit-tag="" tal:content="structure Component/services" />
    </span>
    <div class="content-box row-fluid clearfix" tal:condition="php: Component['video']['mediaId'] > 0">
        <h3 tal:content="php: __T('Presentation video')" />
        <script>
$(function(){
    jQuery('video,audio').mediaelementplayer();
});
        </script>
        <video tal:attributes="src Component/video/src" style="width: 100%; height: 100%"/>
    </div>

  <span tal:omit-tag=""
        metal:use-macro="_macro.html/boxImageList"
        tal:define="images Component/images;
                    start '0';
                    title php: __T('Images')" />

  <span tal:omit-tag=""
        metal:use-macro="_macro.html/boxAttachments"
        tal:define="attaches Component/attaches" />
</div>