<article class="slideshow col-md-9 big">
    <div class="slider single-item js-sliderhome">
        <div class="slide" tal:attributes="style php:Template::homeSliderImage(item)" tal:repeat="item Component">
            <div class="description">
                <tal:block tal:condition="item/pageId">
                    <h1><a tal:attributes="href item/pageId" tal:content="item/title"></a></h1>
                    <span tal:omit-tag="" tal:content="structure item/text" />
                    <a class="link-continue" tal:attributes="href item/pageId" tal:content="php: __T('read more')"></a>
                </tal:block>
                <tal:block tal:condition="not: item/pageId">
                    <h1 tal:content="item/title"></h1>
                    <span tal:omit-tag="" tal:content="structure item/text" />
                </tal:block>

            </div>
        </div>
    </div>
<script>
$(function() {
    $('.js-sliderhome').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: Glizy.slideShowSpeed,
        arrows:false,
        infinite: true,
        speed: 700,
        pauseOnDotsHover: true,
        slidesToShow: 1,
        slidesToScroll: 1
    });
});
</script>
</article>