<div tal:attributes="class php: Component['type'] . ' wrapper-galleria-io'" tal:condition="php: count(Component['images'])">
<div class="content-galleria-io">
    <div id="" tal:attributes="id Component/key" style="height: 500px"></div>
	<script src="static/galleria/galleria-1.4.2.min.js"></script>
    <script>
$(function() {
	var data = [];
<span tal:omit-tag="" tal:repeat="item Component/images">
data.push({ "title": "<span tal:omit-tag="" tal:content="structure php:glz_stringToJs(item.image['title'])" />",
            "description": "<span tal:omit-tag="" tal:content="structure php:glz_stringToJs(item.image['description'], true)" />",
            "thumb": "<span tal:omit-tag="" tal:content="structure php:org_glizy_helpers_Media::getResizedImageUrlById(item.image['mediaId'], false, __Config::get('THUMB_WIDTH'), __Config::get('THUMB_HEIGHT'), true)" />",
            "image": "<span tal:omit-tag="" tal:content="structure php:(Component['imageResize'] ? org_glizy_helpers_Media::getResizedImageUrlById(item.image['mediaId'], false, __Config::get('movio.photogallery.resize.width'), __Config::get('movio.photogallery.resize.height'), true) : org_glizy_helpers_Media::getUrlById(item.image['mediaId']))" />"
        });
</span>

	Galleria.loadTheme('static/galleria/themes/movio/galleria.<span tal:omit-tag="" tal:content="Component/type" />.js');
	Galleria.run('#<span tal:omit-tag="" tal:content="Component/key" />', {
		dataSource: data, 
		imageCrop: <span tal:omit-tag="" tal:content="Component/imageCrop" />, 
		imagePan: <span tal:omit-tag="" tal:content="Component/imagePan" />, 
		imagePosition: '<span tal:omit-tag="" tal:content="Component/imagePosition" />',
		theme: '<span tal:omit-tag="" tal:content="Component/type" />'
	});
})
</script>
</div>
</div>
