<div id="timeline-embed" tal:attributes="style Component/dimensions"></div>
<script type="text/javascript">
	var timeline = new TL.Timeline(
		'timeline-embed',
		'<tal:block tal:content="structure Component/source" />',
		{
			language: '<tal:block tal:content="structure Component/language" />',
			width: '<tal:block tal:content="structure Component/width" />',
			height: '<tal:block tal:content="structure Component/height" />',
			start_at_slide: '<tal:block tal:content="structure Component/start" />'
		}
	);
</script>