<div class="content-box row-fluid">
        <script>
$(function(){
    jQuery('video,audio').mediaelementplayer();
});
    </script>
	
	<span tal:condition="php: Component['sizeMode'] == 'fixed'" omit-tag="">
    	<video tal:attributes="src Component/video/src; width Component/width; height Component/height" />
    </span>
    
	<span tal:condition="php: Component['sizeMode'] == 'auto'" omit-tag="">
    	<video tal:attributes="src Component/video/src;" style="width:100%;height:100%" />
    </span>
</div>