<FilesMatch "^(composer\.(json|lock))$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
  </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(ajax\.php|static/|cache/|favicon\.ico) - [L]

    RewriteRule ^application/.*\.js - [L]
    RewriteRule ^application/mediaArchive - [L]
    RewriteRule ^application(/|$) - [F,NC]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>